/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #101318;
  color: #fff;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* UI principal */
#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#startBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4b5563;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#startBtn:hover {
  background-color: #6b7280;
}

#hud {
  margin-top: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 8px 12px;
  border-radius: 5px;
}

#hud span {
  display: block;
  margin-bottom: 4px;
}

.hidden {
  display: none;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px; /* mitad del ancho */
    margin-top: -10px;  /* mitad del alto */
    pointer-events: none; /* para no bloquear el clic del mouse */
}

#crosshair::before,
#crosshair::after {
    content: '';
    position: absolute;
    background: red; /* color de la mira */
}

#crosshair::before {
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    margin-left: -1px;
}

#crosshair::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
}
